* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

:root {
  --main-white: #fff;
  --main-black: #000;
  --purple: #703bf7;
  --lg-purple: #ff7a00;
  --bold-purple: #1a64ff;
  --semi-purple: #ff9533;
  --ultra-semi-purple: #ffca99;
  --shade-purple: #ffe4cc;
  --shade-purple1: #fff1e5;
  --shade-purple2: #fff7f0;
  --shade-purple3: #fffcfa;
  --shade-white: #e4e4e7;
  --shade-white1: #f1f1f3;
  --shade-white2: #f7f7f8;
  --shade-white3: #fcfcfd;
  --shade-gray: #141414;
  --shade-gray2: #1a1a1a;
  --shade-gray3: #262626;
  --shade-gray4: #333333;
  --shade-gray5: #4d4d4d;
  --shade-gray6: #666666;
  --shade-gray7: #808080;
  --shade-gray8: #999999;
}

.linka {
  text-decoration: none;
  color: inherit;
}


