.client_container {
  padding: 10px 80px 70px 80px;
  background-color: var(--shade-gray);
  height: auto;
}

.client_image img {
  width: 170px;
  height: 44px;
  object-fit: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.client_card {
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--shade-gray3);
}

.client_image_section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.client_profile_img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.client_name {
  color: #fff;
  line-height: 150%;
  font-size: 15px;
  font-weight: 500;
}
.client_address {
  color: var(--shade-gray8);
  font-size: 13px;
  line-height: 150%;
}

/* custom arrows for slider */

.lines {
  width: 99%;
  margin: 0 auto;
  background-color: var(--shade-gray3);
  height: 1px;
  position: relative;
  margin-top: 30px;
}

.mis {
/* height: 12vh; */
}

.custom-arrows {
  position: absolute;
  bottom: -40%;
  /* right: 0; */
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.custom-prev {
  right: 60px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  background-color: var(--shade-gray2);
  border-radius: 50%;
  border: 1px solid var(--shade-gray3);
}

.custom-next {
  right: 0px;
  background-color: var(--shade-gray2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid var(--shade-gray3);
}
