.smnav_container {
  height: 50px;
  background-image: url("https://i.imgur.com/cijS562.png");
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smnav_container::after {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--shade-gray2);
  content: "";
  opacity: 95%;
}

.smnav_details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.close_btn {
  right: 30px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
}

.close_btns {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: var(--shade-gray8);
  cursor: pointer;
  border-radius: 50%;
}

.close_icon {
  color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smnav_title {
  font-size: 14px;
  font-weight: 300;
  color: var(--main-white);
  z-index: 1;
}

.smnav_btn {
  font-size: 14px;
  font-weight: 300;
  color: var(--main-white);
  cursor: pointer;
  z-index: 1;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: underline;
}

@media screen and (max-width: 1126px) {
  .smnav_title {
    font-size: 13px;
  }
  .smnav_btn {
    font-size: 13px;
  }
}
@media screen and (max-width: 556px) {
  .smnav_title {
    font-size: 12px;
  }
  .smnav_btn {
    font-size: 12px;
  }
  .close_btn {
    right: 10px;
  }
}
