.arch_container {
  padding: 50px 80px;
  background-color: var(--shade-gray);
}

.me {
  width: 90%;
  /* margin-bottom: 30px; */
}

.arch_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
.arch_sub_grid {
  border: 6px solid var(--shade-gray2);
  border-radius: 18px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.arch_details {
  height: 100%;
  padding: 30px;
  border: 1px solid var(--shade-gray3);

  border-radius: 12px;
}

.arch_title {
  color: var(--main-white);
  font-size: 19px;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 20px;
}

.arch_para {
  width: 98%;
  color: var(--shade-gray8);
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

@media screen and (max-width: 1185px) {
  .arch_container {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 894px) {
  .arch_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .arch_sub_grid:nth-child(3) {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 758px) {
  .arch_container {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 564px) {
  .arch_grid {
    display: flex;
    flex-direction: column;
  }
}
