.team_container {
  padding: 50px 80px;
  background-color: var(--shade-gray);
}
.team_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.team_sub_grid {
  border-radius: 12px;
  width: 100%;
  height: auto;
  border: 1px solid var(--shade-gray3);
  padding: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.team_person_img {
  position: relative;
}
.twitter {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.twitter .twita {
  width: 50px;
  object-fit: contain;
  height: 50px;
  cursor: pointer;
}
.team_person_img img {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
}
.team_name {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  margin-top: 30px;
}

.team_position {
  color: var(--shade-gray8);
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.team_inputer {
  position: relative;
  margin-top: 10px;
}
.team_input {
  width: 100%;
  background-color: var(--shade-gray2);
  border-radius: 100px;
  padding: 18px 20px;
  outline: none;
  color: #fff;
  border: 1px solid var(--shade-gray3);
}

.team_input::placeholder {
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
}

.inputer_photo {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lk {
  border: none;
  background-color: transparent;
}

.inputer_photo img {
  width: 36px;
  cursor: pointer;
  height: 36px;
}

.error_message{
  font-size: 12px;
  margin:10px 0px ;
  color: red;
  font-weight: 600;
}
