.feauture_container {
  background-color: var(--shade-gray);
  padding: 70px 80px;
  height: auto;
}

.feature_title {
  color: var(--main-white);
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
  margin-top: 5px;
}
.feature_para_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.feature_para {
  width: 80%;
  color: var(--shade-gray8);
  font-size: 16px;
  line-height: 150%;
}
.feature_btn button {
  height: 49px;
  background-color: var(--shade-gray2);
  font-family: "Urbanist", sans-serif;

  border-radius: 8px;
  color: var(--main-white);
  padding-inline: 10px;
  cursor: pointer;
  border: 1px solid var(--shade-gray3);
  line-height: 150%;
}

.property_hotel {
  margin-top: 60px;
  height: auto;
  position: relative;
  margin-bottom: 30px;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
}
.sliders .slick-slide > div {
  margin: 0 8px;
}

.property_sub_hotel {
  border-radius: 12px;
  padding: 23px;
  overflow: hidden;
  border: 1px solid var(--shade-gray3);
}
.hotel_property_image {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.fea {
  transform: translateZ(0);
  transition: transform 3s ease-out;
  width: 100%;
  height: 255px;

  /* height: 45vh; */
  object-fit: cover;
  border-radius: 10px;
}

.fea:hover {
  transform: scale(1.3);
  overflow: hidden;
}

.hotel_name {
  color: var(--main-white);
  line-height: 150%;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
}
.hotel_property_para {
  color: var(--shade-gray8);
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 500;
}
.hotel_key_feautures {
  display: flex;
  gap: 7px;
  overflow-x: auto;
  margin-bottom: 20px;
  scrollbar-width: 1px;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

.hotel_key_feautures::-webkit-scrollbar {
  width: 20px;
}
.key_card {
  background-color: var(--shade-gray2);
  border: 1px solid var(--shade-gray3);
  border-radius: 28px;
  padding: 5px 10px;
}
.key_image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.key_image img {
  width: 19px;
  height: 14px;
}
.key_title {
  font-size: 13px;
  color: var(--main-white);
  line-height: 150%;
  font-weight: 400;
}

.price_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricer {
  font-size: 14px;
  color: var(--shade-gray8);
  line-height: 150%;
}
.hotel_price_count {
  font-size: 18px;
  color: var(--main-white);
  font-weight: 600;
  line-height: 150%;
}

.property_detail_btn button {
  border-radius: 10px;
  height: 43px;
  padding-inline: 15px;
  border: none;
  font-family: "Urbanist", sans-serif;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--purple);
  color: var(--main-white);
  line-height: 150%;
}

/* custom arrows for slider */

.lines {
  width: 99%;
  margin: 0 auto;
  background-color: var(--shade-gray3);
  height: 1px;
  position: relative;
  margin-top: 30px;
}

.custom-arrow {
  position: absolute;
  bottom: -20%;
  /* right: 0; */
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.custom-prev {
  right: 60px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  background-color: var(--shade-gray2);
  border-radius: 50%;
  border: 1px solid var(--shade-gray3);
}

.custom-next {
  right: 0px;
  background-color: var(--shade-gray2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid var(--shade-gray3);
}
