.header_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header_round_img {
  position: absolute;
  top: 90px;
  right: 0;
  left: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: identifier 10s linear infinite;
}

@keyframes identifier {
  to {
    transform: rotate(360deg);
  }

  from {
    transform: rotate(0deg);
  }
}

.header_round_img img {
  width: 129px;
  height: 129px;
  object-fit: contain;
}

.header_grid {
  display: grid;
  grid-template-columns: 1.12fr 1fr;
  background-color: var(--shade-gray);
  position: relative;
}

.header_line {
  border-bottom: 10px solid var(--shade-gray3);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header_sub:nth-child(1) {
  padding-inline-start: 80px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.header_background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_title {
  font-size: 40px;
  width: 80%;
  color: var(--main-white);
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

.header_para {
  font-size: 16px;
  /* width: 90%; */
  line-height: 150%;
  color: var(--shade-gray8);
  margin-bottom: 30px;
}
.header_btn_section {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.learn_more {
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  width: 111px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--shade-gray3);
  line-height: 150%;
  color: #fff;
  text-transform: capitalize;
}
.properties_btn {
  width: 151px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: var(--purple);
  color: #fff;
  border-radius: 8px;
  border: none;
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.properties_summary {
  display: flex;
  gap: 15px;
}
.property_card {
  border: 1px solid var(--shade-gray3);
  /* padding: 15px 30px 15px 20px; */
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--shade-gray2);
}

.property_count {
  color: var(--main-white);
  font-size: 27px;
  line-height: 150%;
  font-weight: bold;
}

.property_title {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: var(--shade-gray8);
}

.property_linked_cards {
  display: grid;
  border-bottom: 10px solid var(--shade-gray3);
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 15px;
  /* border-top: 10px solid var(--shade-gray3); */
  width: 100%;
  background-color: var(--shade-gray);
}
.property_linked_card {
  border: 1px solid var(--shade-gray3);
  background-color: var(--shade-gray2);
  border-radius: 10px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.property_linked_img img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.property_linked_title {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
