.inquiry_container {
  background-color: var(--shade-gray);
  padding: 60px 0px;
}
.inquiry_grid {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 30px;
}
.inquiry_form {
  border-radius: 10px;
  border: 1px solid var(--shade-gray3);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.inquiry_sub_form .inquiry_label {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}

.inquiry_input_section .inquiry_input {
  margin-top: 5px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0px 10px;
  font-size: 14px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--shade-gray3);
  background-color: var(--shade-gray2);
  border-radius: 6px;
  outline: none;
}

.inquiry_input::placeholder {
  color: var(--shade-gray8);
  font-family: "Urbanist", sans-serif;

  font-size: 14px;
  line-height: 150%;
}
.texta::placeholder {
  color: var(--shade-gray8);
  font-family: "Urbanist", sans-serif;

  font-size: 14px;
  line-height: 150%;
}
.inq {
  width: 100%;
}

.texta {
  margin-top: 5px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: 20vh;
  border: 1px solid var(--shade-gray3);
  background-color: var(--shade-gray2);
  border-radius: 6px;
}

.inquiry_checkbox_section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox_text {
  color: var(--shade-gray8);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.inquiry_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: var(--purple);
  color: #fff;
  padding: 10px 20px;
  text-transform: capitalize;
  outline: none;
  line-height: 150%;
  font-size: 14px;
  border-radius: 6px;
  font-family: "Urbanist", sans-serif;
}

.loca {
  cursor:no-drop;
}

.inquiry_sub_form:nth-child(5) {
  grid-column: 1/3;
}
.inquiry_sub_form:nth-child(6) {
  grid-column: 1/3;
}
.inquiry_sub_form:nth-child(7) {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.inquiry_sub_form:nth-child(8) {
  display: flex;
  justify-content: flex-end;
}
