.nav_container {
  width: 100%;
  background-color: var(--shade-gray2);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav_li a.active {
  background-color: var(--shade-gray);
  border-radius: 5px;
  width: fit-content;
  padding-inline: 10px;
  padding: 10px;
  border: 1px solid var(--shade-gray4);
  border-radius: 5px;
}

.nav_grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* place-items: center; */
  color: var(--main-white);
  height: 67px;
  border-top: 1px solid var(--shade-gray4);
  border-bottom: 1px solid var(--shade-gray4);
}
.nav_sub_grid:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_sub_grid:nth-child(1) {
  display: flex;
  align-items: center;
  padding-inline: 80px;
  justify-content: flex-start;
}
.nav_sub_grid:nth-child(3) {
  display: flex;
  align-items: center;
  padding-inline: 80px;
  justify-content: flex-end;
}

.nav_ul {
  display: flex;
  gap: 15px;
}
.nav_li {
  list-style: none;
  text-transform: capitalize;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_li:nth-child(1) {
}

.last {
  background-color: var(--shade-gray);
  border-radius: 5px;
  width: fit-content;
  padding-inline: 10px;
  padding: 10px;
  border: 1px solid var(--shade-gray4);
  border-radius: 5px;
}

.nav_mobile_ul,
.nav_lis {
  display: none;
}

@media screen and (max-width: 1165px) {
  .nav_sub_grid:nth-child(1) {
    padding-inline: 40px;
  }
  .nav_sub_grid:nth-child(3) {
    padding-inline: 40px;
  }
}

@media screen and (max-width: 758px) {
  .nav_sub_grid:nth-child(1) {
    padding-inline: 20px;
  }
  .nav_sub_grid:nth-child(3) {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 602px) {
  .nav_li {
    display: none;
  }
  .nav_lis {
    display: flex;
    cursor: none;
    transition: 1s ease;
  }
  .nav_mobile_ul_section {
    width: 100%;
    background-color: var(--shade-gray2);
    height: calc(100% - 67px);
    top: 1px;
    /* z-index: 10000; */
    position: absolute;
  }
  .thusa {
    z-index: 10;
  }
  .nav_mobile_ul {
    right: 0;
    position: fixed;
    background-color: var(--shade-gray2);
    transition: 1s ease;
    height: 100vh;
    gap: 5px;
    padding: 30px;
    width: 70vw;
    flex-direction: column;
    display: flex;
  }

  .nav_mobile_li {
    list-style: none;
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }

  .nav_logos {
    margin-bottom: 10px;
  }
  .nav_mobile_para {
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    width: 100%;
  }
  .nav_mobile_line {
    margin: 15px 0;
    background-color: var(--shade-gray8);
    width: 100%;
    height: 1px;
  }

  .social_mobile_icons {
    display: flex;
    gap: 10px;
  }
  .socil_mobile {
    font-size: 20px;
  }
  .copyright {
    position: fixed;
    bottom: 30px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
  }
}
