.nav_container {
  width: 100%;
  background-color: var(--shade-gray2);
}

.nav_grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* place-items: center; */
  color: var(--main-white);
  height: 67px;
  border-top: 1px solid var(--shade-gray4);
  border-bottom: 1px solid var(--shade-gray4);
}
.nav_sub_grid:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_sub_grid:nth-child(1) {
  display: flex;
  align-items: center;
  padding-inline: 80px;
  justify-content: flex-start;
}
.nav_sub_grid:nth-child(3) {
  display: flex;
  align-items: center;
  padding-inline: 80px;
  justify-content: flex-end;
}

.nav_ul {
  display: flex;
  gap: 15px;
}
.nav_li {
  list-style: none;
  text-transform: capitalize;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_li:nth-child(1) {
  background-color: var(--shade-gray);
  border-radius: 5px;
  width: fit-content;
  padding-inline: 10px;
  padding: 10px;
  border: 1px solid var(--shade-gray4);
  border-radius: 5px;
}

.last {
  background-color: var(--shade-gray);
  width: fit-content;
  padding-inline: 10px;
  border: 1px solid var(--shade-gray4);
  border-radius: 5px;
}
